---
// src/pages/services/customized-lesson-plans.astro
import BaseLayout from '../../layouts/BaseLayout.astro';
const pageTitle = "Customized Lesson Plans";
---
<BaseLayout title={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>Detailed information about how we create Customized Lesson Plans will go here.</p>
  <p><a href="/">Back to Home</a></p>
</BaseLayout>